html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.formStyle {
  padding: 40px !important;
  top: 20%;
  /* background: linear-gradient(90deg, gray 0%, lightgray 100%); */
  background-color: lightgray;
}
.container {
  padding: 0 2rem;
  height: 100%;
  /* background-color: black; */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: red !important;
}
